@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Italic;
  src: url(/fonts/Roboto/Roboto-Italic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins/Poppins-Bold);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Italic;
  src: url(/fonts/Poppins/Poppins-Italic.ttf);
  font-weight: normal;
  font-style: normal;
}
